%aside#aside.js-fullheight.text-center{:role => "complementary"}
  %h1#aside-logo
    %a{:href => "index.html"}
      Star
      %span .
  %nav#main-menu{:role => "navigation"}
    %ul#navbarNav
      %li
        %a.item.active{:href => "index.html"} About
      %li
        %a.item{:href => "skills.html"} Skills
      %li
        %a.item{:href => "work.html"} Work Experience
      %li
        %a.item{:href => "portfolio.html"} Portfolio
      %li
        %a.item{:href => "contact.html"} Contact
  .aside-footer
    %ul
      %li
        %a{:href => "https://www.linkedin.com/in/gladibethfranco/"}
          %i.fa.fa-linkedin
      %li
        %a{:href => "https://github.com/Gladibeth"}
          %i.fa.fa-github
      %li
        %a{:href => "https://www.facebook.com/gladibeth.franco"}
          %i.fa.fa-facebook
      -# %li
      -#   %a{:href => "#"}
      -#     %i.fa.fa-google-plus