:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  %head
    = render ('app/partials/head.haml')
    - $action_name = 'contact'
  %body
    #page
      %a.js-burgue-nav-toggle.burgue-nav-toggle{:href => "#"}
        %i
      = render ('app/partials/aside/_aside.haml')
  
      #main
        %section.ftco-section.contact-section
          .container
            .row.d-flex.mb-5.contact-info
              .col-md-12.mb-4
                %h2.h4.font-weight-bold Contact Information
              .w-100
              .col-md-4
                %p
                  %span Address:
                %span{style: "color: #e10051;"} Punto fijo, Falcón, Venezuela.
              .col-md-4
                %p
                  %span Phone:
                %a{:href => "tel://4120684410"} + 58 412 0684 410
                %br/
                %a{:href => "tel://4167501251"} + 58 416 7501 250
              .col-md-4
                %p
                  %span Email:
                %a{:href => "mailto:gladibethdelosa@gmail.com"} Gladibethdelosa@gmail.com
    = render ('app/partials/footer.haml')
