:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  = render ('app/partials/head.haml')
  %body
    #page
      %a.js-burgue-nav-toggle.burgue-nav-toggle{:href => "#"}
        %i
      = render ('app/partials/aside/_aside.haml')
      #main
        .hero-wrap.hero-wrap-2.js-fullheight{"data-stellar-background-ratio" => "0.5", :style => "background-image: url(assets/img/bg_5.jpg);"}
          .overlay
          .js-fullheight.d-flex.justify-content-center.align-items-center
            .col-md-8.text.text-center
              .img.mb-4{:style => "background-image: url(assets/img/author.png);"}
              .desc
                %h2.subheading Hello I'm
                %h1.mb-4 Gladibeth Franco
                -# %h2.subheading Frontend Web Devoloper
                %p.mb-4
                  Frontend Web Devoloper
                  -# I am A Web Developer Far far away, behind the word mountains, far from the countries Vokalia and
                  -# Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                  -# Semantics, a large language ocean.
                  .btn-download
                    %a{:href => "assets/pdf/Gladibeth Franco-CV.pdf", download:"", target: "_blank"} Download CV
    = render ('app/partials/footer.haml')
    
