:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  = render ('app/partials/head.haml')
  - $action_name = 'index'
  %body
    #page
      %a.js-burgue-nav-toggle.burgue-nav-toggle{:href => "#"}
        %i
      = render ('app/partials/aside/_aside.haml')
      #main
        .wrapper-main.wrapper-main-2.js-fullheight{"data-stellar-background-ratio" => "0.5", :style => "background-image: url(assets/img/bg_5.1.png);"}
          .overlay
          .d-flex.justify-content-center.align-items-center{style: "height: 800px !important;"}
            .col-md-8.text.text-center  
              %h2.subheading Hello I'm
              %h1.mb-2 Gladibeth Franco
              %p.mb-4
                Frontend Web Devoloper
                .btn-download
                  %a{:href => "assets/img/GladibethFranco-cv.pdf", download:"", target: "_blank"} Download CV
    = render ('app/partials/footer.haml')
    
