:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{:lang => "en"}
  %head
    = render ('app/partials/head.haml')
    - $action_name = 'work'
  %body
    #page
      %a.js-burgue-nav-toggle.burgue-nav-toggle{:href => "#"}
        %i
      = render ('app/partials/aside/_aside.haml')
      #main
        %section.mytabs_area.p_120
          .container
            .tabs_inner
              %ul#myTab.nav.nav-tabs{:role => "tablist"}
                %li.nav-item
                  %a#home-tab.nav-link.active{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#home", :role => "tab"} My Experiences
                %li.nav-item
                  %a#profile-tab.nav-link{"aria-controls" => "profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#profile", :role => "tab"} My Education
              #myTabContent.tab-content
                #home.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %ul.list
                    %li
                      %span
                      .media
                        .d-flex
                          %p March 2017 current
                        .body-work
                          %h4 Frontend Developer
                          %p  
                            Slice Group Agency Digital
                    %li
                      %span
                      .media
                        .d-flex
                          %p March 2019 current
                        .body-work
                          %h4 Frontend Developer
                          %p  
                            Santipm
                    %li
                      %span
                      .media
                        .d-flex
                          %p March 2019 current
                        .body-work
                          %h4 Frontend Developer
                          %p  
                            Contact Marketing
                #profile.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                  %ul.list
                    %li
                      %span
                      .media
                        .d-flex
                          %p March 2014 current
                        .body-work{style: "margin-left: 80px;"}
                          %h4 Systems Engineer
                          %p 
                            National Experimental University of the Armen Forces. 
                            %br/
                            Expected graduation: 2019
                    %li
                      %span
                      .media
                        .d-flex
                          %p March 2016 
                        .body-work{style: "margin-left: 80px;"}
                          %h4 
                            Course 
                            %small (HTML - CSS - JAVASCRIP)
                          %p
                            Slice Group
    = render ('app/partials/footer.haml')